<div>
<mat-card class="demo-panel">
       
        <mat-card-content>
          <mat-sidenav-container class="example-container">
      
            <mat-sidenav opened="true" class="example-sidenav" mode="side">
                <mat-nav-list>
                        <a mat-list-item  *ngIf="admin" routerLink="employeelist"><mat-icon matListIcon>list</mat-icon>Movies List</a>
                        <a mat-list-item  routerLink="home"><mat-icon matListIcon>list</mat-icon>Home</a>
                        <a mat-list-item routerLink="taskhistory"><mat-icon matListIcon>history</mat-icon>Yearly sales</a>
                        <a mat-list-item routerLink="taskmanagement"><mat-icon matListIcon>view_module</mat-icon>Orders</a>

                </mat-nav-list>
                         <!-- <nav>
                            <a routerLink="/employeelist">Employees List</a>
                          </nav>
                          <nav>
                                <a routerLink="/taskhistory">Task History</a>
                              </nav> -->
            </mat-sidenav>
                  
                 <div class="content-sidenav">
                  <router-outlet></router-outlet>
                </div>   
          </mat-sidenav-container>
        </mat-card-content>
</mat-card>
</div>
