<h2>
  Movie List
</h2>
<div class="container-fluid bg-3 text-center">
  <h3>Movies that will appear on the world screens from the next week</h3><br>
  <div class="row">
    <div class="col-sm-3">
      <h4>Runners on the Blade</h4>
      <img src="https://www.blackfilm.com/read/wp-content/uploads/2017/10/Blade-Runner-2049-Banner-3.jpg" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3">
      <h4>Suicide Squad</h4>
      <img src="https://www.blackfilm.com/read/wp-content/uploads/2017/10/Blade-Runner-2049-Banner-3.jpg" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3">
      <h4>Tintin's adventure</h4>
      <img src="https://www.blackfilm.com/read/wp-content/uploads/2017/10/Blade-Runner-2049-Banner-3.jpg" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3">
      <h4>Lion King</h4>
      <img src="#" class="img-responsive" style="width:100%" alt="Image">
    </div>
  </div>
</div><br>

<div class="container-fluid bg-3 text-center">
  <div class="row">
    <div class="col-sm-3">
      <h4>Hello, Julie</h4>
      <img src="https://www.blackfilm.com/read/wp-content/uploads/2017/10/Blade-Runner-2049-Banner-3.jpg" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3">
      <h4>Titanic</h4>
      <img src="#" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3">
      <h4>Ghost in the Shell</h4>
      <img src="https://www.blackfilm.com/read/wp-content/uploads/2017/10/Blade-Runner-2049-Banner-3.jpg" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3">
      <h4>Fantasy</h4>
      <img src="#" class="img-responsive" style="width:100%" alt="Image">
    </div>
  </div>
</div>

<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="userId">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.userId}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
