<mat-toolbar class="example-toolbar">
  <mat-toolbar-row>
    <h3>Hello to the Movie world</h3>
    <span class="example-fill-remaining-space"></span>
    <span class="example-spacer"></span>
   
  
  </mat-toolbar-row>
</mat-toolbar>

<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  
     
  <div class="loginError" *ngIf="isInvalidUser">Incorrect email or password</div>
 
  <mat-card-content>
    <form class="example-form" (keyup.enter)= "login()">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td><mat-form-field class="example-full-width">
            <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
          </mat-form-field></td>
        </tr></table>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="login()" color="primary">Login</button>
  </mat-card-actions>
</mat-card>
